<div class="brunch-space">
    <div class="row col-md-8 col-md-offset-2 search-bar">
        <div class ="jumbotron search-bar">
            <h1>What do you want to eat?</h1>
            <form class="form-inline search-bar">
                <div class="form-group">
                    <label class="sr-only" for="formCity">City</label>
                    <input type="text" class="form-control" id="formCity" placeholder="City">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="formRestaurant">Search</label>
                    <input type="text" class="form-control" id="formRestaurant" placeholder="Search for Restaurant">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
</div>