<div class="page-header">
    <h1>Displaying all restaurants
        <a href="/restaurants/create" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            New Restaurant
        </a>
    </h1>
</div>

<div class="alert alert-info alert-dismissible text-center" ng-show="restaurant.message">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{ restaurant.message }}
</div>

<table class="table table-bordered table-striped" ng-show="restaurant.restaurants">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Address</th>
            <th>Rating</th>
            <th>Price Range</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="res in restaurant.restaurants">
            <td>{{res.name}}</td>
            <td>{{res.city}}</td>
            <td>{{res.streetAddress}}</td>
            <td>{{res.rating}}</td>
            <td>{{res.priceRange}}</td>
            <td>
                <a href="#" ng-click="restaurant.deleteRestaurant(res.id)" class="btn btn-primary">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
